* { 
    background: #f9fff9;
    color: #42413b;
    font-family: verdana, sans-serif;
}
body {
    max-width: 40em;
    min-width: 10em;
    margin: 0 0 0 3em;
}
img {
    width: 100%;
    height: 100%;
    border: 4px solid #90909073;
    border-radius: 4px;
}